<!-- <div class="row">
	<div class="col-sm-1">
	</div> -->

	<div class="col-sm-2 box">
		<div id="clearance" class="sign-in">
  				<h2><%= t(".title") %></h2>
				<%= render partial: '/sessions/form' %>

		</div>
	</div>
<!-- </div>	 -->